


#bookmarker{
    font-size: 45px;
}
button[btn="button"]{
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
button[btn="button"]:hover{
    background-color: #d1e7dd !important;
    border: solid 1px #198754;
}
.fs-7{
    font-size: 15px !important;
}
.form-control:focus{
    box-shadow: none!important;
}
button[child-1="button"]{
    transition: all .3s;
}
button[child-1="button"]:hover{
    background-color: #0c6c40 !important;
}
button[child-2="button"]{
    transition: all .3s;
}
button[child-2="button"]:hover{
    background-color: #b52c3a !important;
}

.scroll-bot{
    width: 100%;
    height: 300px;
    overflow: auto;
}
.boxModal{
    backdrop-filter: blur(5px);
}
.boxModalSmall{
    width: 35%;
    padding: 25px 40px;
    color: red;
    position: relative;
}
.boxModalSmall span{
    width: 25px;
    height: 10px;
    background-color: #0c216c;
    position: absolute;
    top: 35px;
    left: 40px;
}
.boxModalSmall span:nth-child(2){
    left: 70px;
    background-color: #3b56b7;
}
.boxModalSmall span:nth-child(3){
    left: 100px;
    background-color: #6c84db;
}
.boxModalSmall div i{
    cursor: pointer;
}